.maplibregl-ctrl-compass-heading-debug {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);

  dt {
    margin: 0;
    width: 50px;
    font-weight: bold;
  }

  dd {
    margin: 0;
    flex-grow: 1;
    width: calc(100% - 50px);
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
